
#textinput, #textarea {
 background-image:
  -webkit-radial-gradient(red 8px); 
  -webkit-box-shadow:  10px 10px 20px #400;
}

#flip1, #slider {
 background-image:
  -webkit-radial-gradient(red 8px); 
  -webkit-box-shadow:  10px 10px 20px #004;
}


#picOne, #picTwo {
  display:none;
  
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 300px;
    width: 300px;
    margin: auto;
}

#box1 {
  position:relative;top:10px;
  width: 20%;
  height: 60px;
  font-size: 20px;
  -moz-box-shadow: 10px 10px 5px #800;
  -webkit-box-shadow: 10px 10px 5px #800;
  box-shadow: 10px 10px 5px #800;
background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%); 


@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

}

#video {
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 390px;
    width: 640px;
    margin: auto;
    
}




/*
#picOne, #picTwo {
  display:none;
  top: 5%;
  position:absolute;

   margin-left:auto;
      margin-right:auto;


}
*/


